#first-section{
    background-color: #F0FFF0;
}
.green-button{
    color: white;
    background-color: #21B573;
    border-radius: 33px;
    border: none;
    padding: 9px 25px;
    
}
.green-button:hover {
    background-color: #008CBA;
    color: black;
    transition-duration: 0.4s;
}
#second-container-margin{
    margin-left: 20px;
}
#orange-text{
    color: #FD511A;
}
#green-text{
    color: #21B573;
  }
.green-bg{
    background-color: #F0FFF0;                                          
    height: 400px;
  }
#first-h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 25px;
}
.illustration-margin-left{
    margin-left: 85px;
    margin-top: 45px;
}
@media screen and (max-width: 575px) {
    .illustration-margin-left{
        margin-left: 85px;
        margin-top: 80px;
    }
    #first-col-md-3{
        margin-top:160px;
    }
    .col-md-3{
        margin-top: 25px;
        margin-left: 85px;
    }
  }
.col-md-3 img{
    height: 150px;
}
.col-md-3 h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
}
.col-md-3 h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300 ;
    font-size: 14px;
}
.light-blue-bg{
    background-color: #effff5;
    padding-top: 50px;
    padding-left: 60px;
    height: 260px;
    margin-bottom: 30px;
    width: 250px;
    margin: 0px 30px;
    box-shadow: 5px 5px 10px rgb(255, 152, 233);      
}
.light-blue-bg img{
    height: 40%;
    padding-left: 20px;
    padding-top: 10px;
}
.white-bg{
    background-color: white;
    padding-top: 50px;
    padding-left: 60px;
    height: 260px;
    width: 250px;
    margin-bottom: 30px;
    margin: 0px 30px;
    box-shadow: 5px 5px 10px lightslategray;
}
.white-bg img{
    height: 40%;
    padding-left: 20px;
    padding-top: 10px;
}
.card-body h6{
    font-weight: 400;
}
.calendar img{
    height: 70%;
    width: 24%;
    padding-top: 25px;
}
.calendar p{
    padding-left: 15px;
    padding-top: 25px;
}
.calendar{
    width: 170px;
}
.card-footer{
    background-color: transparent;
    border-top: transparent;
}
#testimonial{
    text-align: center;
}
.display-in-line{
    /* display:flex;
    justify-content-center */
}
.display-in-line img{
    width: 120px;
    height: 120px;
    margin-right: 40px;
    /* position: absolute; */
    /* left: 353px;
    top: 1787px; */
}
.display-in-line p{
    /* position: absolute;
    width: 580px;
    height: 90px;
    left: 525px;
    top: 1796px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
}
#last-section{
    height: 330px;
    background-color: #282531;
    color: wheat;
}
.row{
    padding-top: 40px;
}
#millions{
    /* position: absolute;
    width: 364px;
    height: 60px;
    left: 143px;
    top: 2068px; */
    color: rgba(255, 244, 223, 0.884);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
#footer-courses{
    /* position: absolute;
    width: 123px;
    height: 181px;
    left: 633px;
    top: 2068px; */
    color: rgba(255, 244, 223, 0.884);
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
}
#footer-terms{
    /* position: absolute;
    width: 123px;
    height: 180px;
    left: 897px;
    top: 2068px; */
    color: rgba(255, 244, 223, 0.884);
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
}
#footer-link{
    /* position: absolute;
    width: 123px;
    height: 180px;
    left: 1181px;
    top: 2068px;
    border: solid 1px red; */
    color: rgba(255, 244, 223, 0.884);
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
}
.bold{
    font-weight: bold;
    font-size: 20px;
}
#last-paragraph{
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 30px;
color: violet;
text-align: center;
margin-top:40px;
}
@media screen and (max-width: 575px) {
    #last-section{
        height: 700px;
    }
    #last-paragraph{
        text-align: center;
    }
  }